body {
    margin: 0px;
    background-color: #f5f6fa;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container div{
    /*width:70%;
    height: 100vh;*/
    background-color: #e84118;
}
input {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.greet {
    display: none;
    width:70%;
    height: auto;
    background-color: #e84118;
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
}
.choise {
    display: none;
}
/*working with input*/
.input {
    display: none;

}
/*result styling*/
.result {
    display: block;
    position: relative;
    width: 400px;
    height: 600px;
    user-select: none;
    touch-action: pan-y;
}
.result-list{
    margin: 0 auto;
    width: 350px;
    height: 450px;
    overflow: hidden;
}
.result-list.grab{
    cursor: grab;
}
.result-list.grabbing{
    cursor: grabbing;
}
.result-track {
    display: flex;
}
.res-slide{
    width: 350px;
    height: 450px;
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;   
}
.result-arrows{
    margin-top: 15px;
    text-align: center;
}
.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}

.passive {
    display: none;
}
.active {
    display: block;
}